In [1]:
import sys
import nivapy3 as nivapy
import qgrid
import pandas as pd

# Quick hack to import from relative folder
sys.path.insert(0, '../ndbview')
from ndbview import ndb_queries

# Testing queries for NDBView

`ndb_queries.py` contains functions used by the Flask end points in `ndbview.py` to query the NIVADATABASE. The code is structured so that, as far as possible, the application-specific code is all in `ndbview.py`, and `ndb_queries.py` provides a basic database API that can also be used from Jupyter. This is useful for testing, and will eventually be useful for [NivaPy](https://github.com/NIVANorge/nivapy) too.

## 1. Connect to NIVADATABASE

In [2]:
# Connect to db
ora_eng = nivapy.da.connect()

Connection successful.

## 2. User defined parameters

In [3]:
# Period of interest
st_dt = '1900-01-01'
end_dt = '2018-12-31'

# Include LOD flags ('<' or '>') in output?
lod_flags = False

Now complete **either** step 3.1 to query by projects, or skip ahead to step 3.2 to query the stations directly. **Choose either step 3.1 *or* step 3.2, not both**.

## 3.1. Query by project

### 3.1.1. Select projects of interest

In [4]:
# List projects
prj_df = ndb_queries.get_all_projects(ora_eng)

# Convert to qgrid
prj_grid = qgrid.QgridWidget(df=prj_df, show_toolbar=False)

print('Number of unique project IDs:', len(prj_df))
prj_grid

Number of unique project IDs: 1118

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defaultColumnWidth': 150, 'rowHeight': 28, 'enableColumnReorder': False, 'enableTextSelectionOnCells': True, 'editable': True, 'autoEdit': False, 'explicitInitialization': True, 'maxVisibleRows': 15, 'minVisibleRows': 8, 'sortable': True, 'filterable': True, 'highlightSelectedCell': False, 'highlightSelectedRow': True}, precision=5)

In [5]:
# Show selected projects
sel_prj = prj_grid.get_selected_df()
sel_prj

    project_id project_name                         project_description
33          88      Lyseren       Brukes av Østfold FK (Testprosjektet)
34          89      Østfold     Brukes av Østfold FK (11 av stasjonene)
32          87      OPPLAND  Kalkingslokaliteter Fylkesmannen i Oppland

### 3.1.2. Get stations for selected project(s)

In [6]:
# Get stations for selected project
stn_df = ndb_queries.get_project_stations(sel_prj, ora_eng)

# Convert to qgrid
stn_grid = qgrid.QgridWidget(df=stn_df, show_toolbar=False)

print('Number of unique station IDs:', len(stn_df))
stn_grid

Number of unique station IDs: 232

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defaultColumnWidth': 150, 'rowHeight': 28, 'enableColumnReorder': False, 'enableTextSelectionOnCells': True, 'editable': True, 'autoEdit': False, 'explicitInitialization': True, 'maxVisibleRows': 15, 'minVisibleRows': 8, 'sortable': True, 'filterable': True, 'highlightSelectedCell': False, 'highlightSelectedRow': True}, precision=5)

### 3.1.3. Refine station selection

If desired, make a final sub-selection of the stations of interest (or select none to include all stations for these projects).

In [7]:
# Get selected stations
if len(stn_grid.get_selected_df()) == 0:
    sel_stn = stn_df
else:
    sel_stn = stn_grid.get_selected_df()

print('Number of stations selected:', len(sel_stn))
sel_stn

Number of stations selected: 232

,station_id,station_code,station_name,station_type,longitude,latitude
0,9450,VAN2,Vanemfjorden,Innsjø,10.754610,59.443500
1,9450,VAN2,"Vansjø, Vanemfjorden",Innsjø,10.754610,59.443500
2,9456,VAN3,Grepperødfjorden,Innsjø,10.817550,59.422940
3,9456,VAN3,"Vansjø, Grepperødfjorden",Innsjø,10.817550,59.422940
4,9457,SÆB1,Sæbyvannet,Innsjø,10.984710,59.427180
5,9457,SÆBY,Sæbyvannet,Innsjø,10.984710,59.427180
6,9458,VAN1,Storefjorden,Innsjø,10.836560,59.393420
7,9458,VAN1,"Vansjø, Storefjorden",Innsjø,10.836560,59.393420
8,9459,I-LYS1,Lyseren,Innsjø,11.103134,59.680540
9,9459,LYS1,Lyseren,Innsjø,11.103134,59.680540
10,9460,I-TUN,Tunevannet,Innsjø,11.092365,59.306055
11,9460,I-TUN1,Tunevannet,Innsjø,11.092365,59.306055
12,9460,TUN1,Tunevannet,Innsjø,11.092365,59.306055
13,9461,I-ISE,Isevannet,Innsjø,11.213824,59.270844
14,9461,I-ISE1,Isesjøen,Innsjø,11.213824,59.270844
15,9461,ISE1,Isesjøen,Innsjø,11.213824,59.270844
16,9461,ISE1,Isevannet,Innsjø,11.213824,59.270844
17,9462,RØD1,Rødenessjøen,Innsjø,11.640180,59.500920
18,9466,FEM1,Femsjøen,Innsjø,11.486570,59.141870
19,9467,BJØ1,Bjørkelangen,Innsjø,11.534500,59.848400
20,9487,OPP001,"St. Aurli,Innløp",Innsjø,10.076765,60.691430
21,9488,OPP002,"St. Aurli,Utløp",Innsjø,10.076765,60.691430
22,9489,OPP003,"Krokvatn,Innløp",Innsjø,10.054090,60.670060
23,9490,OPP004,"Krokvatn,Utløp",Innsjø,10.054090,60.670060
24,9491,OPP005,"Vesle Malsjøen,Utløp",Innsjø,10.674307,60.418574
25,9492,OPP006,"Læhrensæterputten,Utløp",Innsjø,10.649617,60.361406
26,9493,OPP007,"Maritjern,Utløp",Innsjø,10.702395,60.365232
27,9494,OPP008,"Randsjøen,Utløp",Innsjø,10.638105,60.384898
28,9495,OPP009,"Svera,Utløp",Innsjø,10.644812,60.409961
29,9496,OPP010,"Vassbråa,Utløp",Innsjø,10.715740,60.377633
...,...,...,...,...,...,...
202,9663,OPP177,"Rovtjern,Åpent vann, 0 m",Innsjø,10.234738,60.464680
203,9664,OPP178,"Rovtjern,Innløp",Innsjø,10.234738,60.464680
204,9665,OPP179,"Svarttjernet,Åpent vann, 0 m",Innsjø,10.231068,60.463816
205,9666,OPP180,"Nordre Espetjern,Utløp",Innsjø,10.210436,60.446944
206,9667,OPP181,"Søre Espetjern,Utløp",Innsjø,10.207952,60.429007
207,9668,OPP182,"Buvatn,Utløp",Innsjø,10.246907,60.402607
208,9669,OPP183,"Buvatn,Innløp",Innsjø,10.246907,60.402607
209,9670,OPP184,"Bjørnsjøen,Utløp",Innsjø,10.229337,60.418036
210,9671,OPP185,"Sandungen,Utløp",Innsjø,10.255875,60.399828
211,9672,OPP186,"Roken,Utløp",Innsjø,10.270180,60.394305
212,9673,OPP187,"Bergevatn,Utløp",Innsjø,10.264842,60.397050
213,9681,I-LUN,Lundebyvannet,Innsjø,11.481471,59.547767
214,9681,I-LUN1,Lundebyvannet,Innsjø,11.481471,59.547767
215,9681,LUN1,Lundebyvannet,Innsjø,11.481471,59.547767
216,9682,I-SKI,Skinnerflo,Innsjø,10.895955,59.315314
217,9682,I-SKI1,Skinnerflo,Innsjø,10.895955,59.315314
218,9682,SKI1,Skinnerflo,Innsjø,10.895955,59.315314
219,9683,SKU1,Skullerudsjøen,Innsjø,11.550500,59.660300
220,9701,ØGD1,Øgderen,Innsjø,11.475975,59.665653
221,9721,VAN4,Grimstadkilen,Innsjø,10.822040,59.375060
222,9721,VAN4,"Vansjø, Grimstadkilen",Innsjø,10.822040,59.375060
223,9722,SUND,Sundet,Innsjø,10.804730,59.401400
224,9722,VAN5,Sundet,Innsjø,10.804730,59.401400
225,10142,OPP188,"Nordre Gulsjøen,Utløp",Innsjø,10.514043,60.531730
226,10144,OPP189,"Søndre Gulsjøen,Utløp",Innsjø,10.496865,60.519253
227,10146,OPP190,"Beitingstjern,Utløp",Innsjø,10.536787,60.527869
228,10148,OPP191,"Åstjern,Utløp",Innsjø,10.577778,60.498439
229,27617,VAN6,Nesparken,Innsjø,10.675860,59.437920
230,27617,VAN6,"Vansjø, Nesparken",Innsjø,10.675860,59.437920
231,28162,LYS2,Lyseren,Innsjø,11.104870,59.686700

## 3.2. Select stations directly

This section is only relevant if you skipped over section 3.1.

In [8]:
# List stations
stn_df = ndb_queries.get_all_stations(ora_eng)

# Convert to qgrid
stn_grid = qgrid.QgridWidget(df=stn_df, show_toolbar=False)
stn_grid

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defaultColumnWidth': 150, 'rowHeight': 28, 'enableColumnReorder': False, 'enableTextSelectionOnCells': True, 'editable': True, 'autoEdit': False, 'explicitInitialization': True, 'maxVisibleRows': 15, 'minVisibleRows': 8, 'sortable': True, 'filterable': True, 'highlightSelectedCell': False, 'highlightSelectedRow': True}, precision=5)

In [9]:
# Show selected stations
sel_stn = stn_grid.get_selected_df()
sel_stn

,station_id,station_code,station_name,station_type,latitude,longitude
1,3562,FINEALT,Altaelva.,Elv,69.901142,23.287058
2,3563,NOREVEF,Vefsna.,Elv,65.749464,13.239104
3,3564,ROGEORR,Orreelva,Elv,58.731430,5.529362
4,3565,ROGESUL,Suldalslågen.,Elv,59.482215,6.259855
5,3566,STREORK,Orkla.,Elv,63.201091,9.773276
6,3567,TELESKI,Skienselva-Skiensvassdraget.,Elv,59.198796,9.610961
7,3568,VAGEOTR,Otra,Elv,58.187415,7.954109
8,3569,VESENUM,Bommestad,Elv,59.086266,10.069625
9,3570,ØSTEGLO,Glomma ved Sarpsfoss,Elv,59.277936,11.133888
10,3571,FINEPAS,Pasvikelva.,Elv,69.501096,30.115569
11,3572,FINETAN,Tanaelva.,Elv,70.230383,28.173525
0,3561,BUSEDRA,Drammenselva,Elv,59.753992,10.009029

## 4. Get parameters for selected stations and time period

In [10]:
# Get parameters
par_df = ndb_queries.get_station_parameters2(sel_stn, st_dt, end_dt, ora_eng)

# Convert to qgrid
par_grid = qgrid.QgridWidget(df=par_df, show_toolbar=False)

print('%s parameters available.' % len(par_df))
par_grid

32 parameters available.

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defaultColumnWidth': 150, 'rowHeight': 28, 'enableColumnReorder': False, 'enableTextSelectionOnCells': True, 'editable': True, 'autoEdit': False, 'explicitInitialization': True, 'maxVisibleRows': 15, 'minVisibleRows': 8, 'sortable': True, 'filterable': True, 'highlightSelectedCell': False, 'highlightSelectedRow': True}, precision=5)

In [11]:
# Show selected parameters
sel_par = par_grid.get_selected_df()
sel_par

   parameter_id parameter_name  unit
2           221             Cd  µg/l
3          1552             Co  µg/l
4           629             Cr  µg/l
5           492             Cu  mg/l
6           570            DOC  mg/l
7           248            HCH  ng/l
8           251             Hg  ng/l
9             3              K  mg/L
1          1583             As  µg/l

## 5. Get water chemistry

In [12]:
# Get water chemsitry
wc_df, dup_df = ndb_queries.get_chemistry_values2(sel_stn, sel_par, 
                                                  st_dt, end_dt, 
                                                  lod_flags, ora_eng)

print('Number of duplicated records:', len(dup_df))
print('Number of unique samples:', len(wc_df))

WARNING
The database contains unexpected duplicate values for some station-date-parameter combinations.
Only the most recent values will be used, but you should check the repeated values are not errors.
The duplicated entries are returned in a separate dataframe.

Number of duplicated records: 34
Number of unique samples: 1608

In [13]:
# Convert duplicates to qgrid
dup_grid = qgrid.QgridWidget(df=dup_df, show_toolbar=False)
dup_grid

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defaultColumnWidth': 150, 'rowHeight': 28, 'enableColumnReorder': False, 'enableTextSelectionOnCells': True, 'editable': True, 'autoEdit': False, 'explicitInitialization': True, 'maxVisibleRows': 15, 'minVisibleRows': 8, 'sortable': True, 'filterable': True, 'highlightSelectedCell': False, 'highlightSelectedRow': True}, precision=5)

In [14]:
# Convert chem to qgrid
wc_grid = qgrid.QgridWidget(df=wc_df, show_toolbar=False)
wc_grid

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defaultColumnWidth': 150, 'rowHeight': 28, 'enableColumnReorder': False, 'enableTextSelectionOnCells': True, 'editable': True, 'autoEdit': False, 'explicitInitialization': True, 'maxVisibleRows': 15, 'minVisibleRows': 8, 'sortable': True, 'filterable': True, 'highlightSelectedCell': False, 'highlightSelectedRow': True}, precision=5)

In [ ]:
import numpy as np

In [ ]:
def interpolate_water_chemistry(wc_df, freq='D', agg_stat='mean', 
                                interp_type='linear', interp_limit=None):
    """ Interpolate water chemistry data to a regular frequency.
    
        Performs interpolation for each unique station-sample depth 
        combination in wc_df. Each sub-dataset is first resampled to the
        specified (regular) frequency by applying the function supplied as
        'agg_stat'. The resampled dataframe is then interpolated using
        'interp_type'.
        
        For example, if wc_df contains data for a single station, but from
        two different depths, the series for each depth will be treated
        separately. Specifying freq='M', agg_stat='sum', interp_type='cubic'
        and interp_limit=6 will do the following:
        
            1. Resample the data from each depth to a regular monthly series 
               by summing all values within each month
               
            2. Interpolate values for months with no data using cubic splines.
               Data gaps of greater than 6 months will be left unfilled.
               
        Args:
            wc_df:        Dataframe. Water chemistry returned by 
                          get_chemistry_values2()
            freq:         Str. {'D':daily, 
                                'M':monthly,
                                'Q-NOV':seasonal,
                                'A':annual}
            agg_stat:     Str. One of ('mean', 'median', 'sum')
            interp_type:  Str. One of ('nearest', 'linear', 'cubic', 'quadratic')
            interp_limit: Int. The maximum data gap (number of steps at the 
                          resampled frequency) to interpolate over
        
        Returns:
            Dataframe of interpolated values for each station-depth combination        
    """
    # Check user input
    assert freq in ('D', 'M', 'Q-NOV', 'A'), (
           "'freq' argument is not valid.")
    assert agg_stat in ('mean', 'median', 'sum'), (
           "'agg_stat' argument is not valid.")
    assert interp_type in ('nearest', 'linear', 'cubic', 'quadratic'), (
           "'interp_type' argument not valid.")
    assert (isinstance(interp_limit, int) or interp_limit == None), (
           "'interp_limit' must be an integer number of steps.")

    # Container for data
    df_list = []

    # Get depth groups
    depth_grps = wc_df.groupby(['depth1', 'depth2']).groups.keys()

    # treat each station and depth combo separately
    for dep1, dep2 in depth_grps:
        for stn_id in wc_df['station_id'].unique():
            # Get the stn data
            df = wc_df.query('(station_id == @stn_id) and '
                             '(depth1 == @dep1) and '
                             '(depth2 == @dep2)')

            # If not emoty df
            if len(df) > 0:
                # Remove cols we don't want to aggregate
                del df['station_id'], df['depth1'], df['depth2']
                
                # Set index
                df.set_index('sample_date', inplace=True)

                # Resample
                if agg_stat == 'mean':
                    df = df.resample(freq).mean().to_period()
                elif agg_stat == 'median':
                    df = df.resample(freq).median().to_period()
                elif agg_stat == 'sum':
                    df = df.resample(freq).sum().to_period()
                else:
                    raise ValueError("'agg_stat' must be one of "
                                     "('mean', 'median', or 'sum')")

                # Interpolate
                if len(df) > 1:
                    df.interpolate(method=interp_type, 
                                   limit=interp_limit, 
                                   inplace=True)

                # Add index cols again
                df['station_id'] = stn_id
                df['depth1'] = dep1
                df['depth2'] = dep2
                
                # Tidy
                df.reset_index(inplace=True)
                cols1 = ['station_id', 'sample_date', 'depth1', 'depth2']
                cols2 = [col for col in df.columns if col not in cols1]
                df = df[cols1 + cols2]

                # Add to output
                df_list.append(df)

    # Combine results
    df = pd.concat(df_list, axis=0)
    df.reset_index(inplace=True)

    return df

In [ ]:
# Interpolate
df = interpolate_water_chemistry(wc_df, freq='A', agg_stat='median', 
                                 interp_type='cubic', interp_limit=None)

# Convert duplicates to qgrid
interp_grid = qgrid.QgridWidget(df=df, show_toolbar=False)
interp_grid