In [1]:
import sys
import nivapy
import qgrid
import pandas as pd

# Quick hack to import from relative folder
sys.path.insert(0, '../ndbview')
from ndbview import ndb_queries

# Testing queries for NDBView

`ndb_queries.py` contains functions used by the Flask end points in `ndbview.py` to query the NIVADATABASE. The code is structured so that, as far as possible, the application-specific code is all in `ndbview.py`, and `ndb_queries.py` provides a basic database API that can also be used from Jupyter. This is useful for testing, and will eventually be useful for [NivaPy](https://github.com/NIVANorge/nivapy) too.

## 1. Connect to NIVADATABASE

In [2]:
# Connect to db
ora_eng = nivapy.da.connect()

Connection successful.

## 2. User defined parameters

In [3]:
# Period of interest
st_dt = '1900-01-01'
end_dt = '2018-12-31'

# Include LOD flags ('<' or '>') in output?
lod_flags = False

Now complete **either** step 3.1 to query by projects, or skip ahead to step 3.2 to query the stations directly. **Choose either step 3.1 *or* step 3.2, not both**.

## 3.1. Query by project

### 3.1.1. Select projects of interest

In [4]:
# List projects
prj_df = ndb_queries.get_all_projects(ora_eng)

# Convert to qgrid
prj_grid = qgrid.QgridWidget(df=prj_df, show_toolbar=False)
prj_grid

QgridWidget(grid_options={'highlightSelectedRow': True, 'fullWidthRows': True, 'rowHeight': 28, 'enableColumnReorder': False, 'filterable': True, 'sortable': True, 'enableTextSelectionOnCells': True, 'editable': True, 'explicitInitialization': True, 'minVisibleRows': 8, 'autoEdit': False, 'syncColumnCellResize': True, 'maxVisibleRows': 15, 'defaultColumnWidth': 150, 'forceFitColumns': True, 'highlightSelectedCell': False}, precision=5)

In [5]:
# Show selected projects
sel_prj = prj_grid.get_selected_df()
sel_prj

     project_id  o_number   project_name project_description
119        3321  11488-04  RID - Bielver                None

### 3.1.2. Get stations for selected project(s)

In [6]:
# Get stations for selected project
stn_df = ndb_queries.get_project_stations(sel_prj, ora_eng)

# Convert to qgrid
stn_grid = qgrid.QgridWidget(df=stn_df, show_toolbar=False)

print 'Number of unique station IDs:', len(stn_df)
stn_grid

Number of unique station IDs: 37

QgridWidget(grid_options={'highlightSelectedRow': True, 'fullWidthRows': True, 'rowHeight': 28, 'enableColumnReorder': False, 'filterable': True, 'sortable': True, 'enableTextSelectionOnCells': True, 'editable': True, 'explicitInitialization': True, 'minVisibleRows': 8, 'autoEdit': False, 'syncColumnCellResize': True, 'maxVisibleRows': 15, 'defaultColumnWidth': 150, 'forceFitColumns': True, 'highlightSelectedCell': False}, precision=5)

### 3.1.3. Refine station selection

If desired, make a final sub-selection of the stations of interest (or select none to include all stations for these projects).

In [7]:
# Get selected stations
if len(stn_grid.get_selected_df()) == 0:
    sel_stn = stn_df
else:
    sel_stn = stn_grid.get_selected_df()

print 'Number of stations selected:', len(sel_stn)
sel_stn

Number of stations selected: 37

,station_id,station_code,station_name,station_type,longitude,latitude
0,40359,ROGESUL,Suldalsl√•gen,Elv,6.259983,59.481995
1,40362,NTRENAM,Namsen,Elv,11.817337,64.442376
2,40363,ROGELYS,Lyseelva,Elv,6.657987,59.056993
3,40364,SFJEJ√òL,J√∏lstra,Elv,5.857987,61.451996
4,40365,STRENID,Nidelva(Tr.heim),Elv,10.406994,63.432997
5,40366,VAGESIR,Sira,Elv,6.656993,58.414002
6,40367,STRESTJ,Stj√∏rdalselva,Elv,10.992981,63.448996
7,40368,NTRESN√Ö,Sn√•savassdraget,Elv,11.506991,64.018997
8,40369,VAGEMAN,Mandalselva,Elv,7.545997,58.142995
9,40370,VAGELYN,Lyngdalselva,Elv,7.087992,58.162995
10,40371,AAGENID,Nidelva(Rykene),Elv,8.641999,58.400992
11,40372,FINEPAS,Pasvikelva,Elv,30.115996,69.500996
12,40373,FINETAN,Tanaelva,Elv,28.173988,70.229993
13,40375,MROEDRI,Driva,Elv,8.570990,62.668999
14,40376,MROESUR,Surna,Elv,8.725986,62.979996
15,40377,NOREBEI,Beiarelva,Elv,14.749991,66.990994
16,40378,NORERAN,Ranaelva,Elv,14.176984,66.322993
17,40379,NORER√òS,R√∏ss√•ga,Elv,13.806986,66.108993
18,40380,NTREVER,Verdalselva,Elv,11.477993,63.791995
19,40381,√òSTETIS,Tista utl√∏p Femsj√∏en,Elv,11.443984,59.127999
20,40382,ROGE√ÖRD,√Ördalselva,Elv,6.124995,59.080993
21,40383,ROGEBJE,Bjerkreimselva,Elv,5.994986,58.478994
22,40384,ROGEFIG,Figgjoelva,Elv,5.597991,58.791995
23,40385,ROGESAU,Saudaelva,Elv,6.218000,59.388992
24,40386,ROGEULL,Ulladals√•na (Ulla),Elv,6.449985,59.329999
25,40387,ROGEVIK,Vikedalselva,Elv,5.909988,59.499993
26,40388,SFJEGAU,Gaular,Elv,5.687997,61.369996
27,40389,SFJEGLO,Gloppenelva(Breimselva),Elv,6.212992,61.764994
28,40390,SFJEJOS,Josted√∏la,Elv,7.279999,61.412993
29,40391,SFJENAU,Nausta,Elv,5.722994,61.516996
30,40392,STREGAU,Gaula,Elv,10.269990,63.285993
31,40393,TELETOK,Tokkeelva,Elv,9.353998,58.875994
32,40394,TROEBAR,Barduelva,Elv,18.594981,69.042997
33,40395,TROEM√ÖL,M√•lselv,Elv,18.665993,69.035993
34,40396,VAGEKVI,Kvina,Elv,6.969987,58.319995
35,40397,VAGETOV,Tovdalselva,Elv,8.116998,58.215997
36,66400,ROGESAUNOR,Nordelva i Sauda,Elv,6.357781,59.649962

## 3.2. Select stations directly

This section is only relevant if you skipped over section 3.1.

In [ ]:
# List stations
stn_df = ndb_queries.get_all_stations(ora_eng)

# Convert to qgrid
stn_grid = qgrid.QgridWidget(df=stn_df, show_toolbar=False)
stn_grid

In [ ]:
# Show selected projects
sel_stn = stn_grid.get_selected_df()
sel_stn

## 4. Get parameters for selected stations and time period

In [8]:
# Get parameters
par_df = ndb_queries.get_station_parameters2(sel_stn, st_dt, end_dt, ora_eng)

# Convert to qgrid
par_grid = qgrid.QgridWidget(df=par_df, show_toolbar=False)

print '%s parameters available.' % len(par_df)
par_grid

57 parameters available.

QgridWidget(grid_options={'highlightSelectedRow': True, 'fullWidthRows': True, 'rowHeight': 28, 'enableColumnReorder': False, 'filterable': True, 'sortable': True, 'enableTextSelectionOnCells': True, 'editable': True, 'explicitInitialization': True, 'minVisibleRows': 8, 'autoEdit': False, 'syncColumnCellResize': True, 'maxVisibleRows': 15, 'defaultColumnWidth': 150, 'forceFitColumns': True, 'highlightSelectedCell': False}, precision=5)

In [9]:
# Show selected parameters
sel_par = par_grid.get_selected_df()
sel_par

    parameter_id parameter_name  unit
47             9           TOTN  ¬µg/l
49            11           TOTP  ¬µg/l

## 5. Get water chemistry

In [10]:
# Get water chemsitry
wc_df, dup_df = ndb_queries.get_chemistry_values2(sel_stn, sel_par, 
                                                  st_dt, end_dt, 
                                                  lod_flags, ora_eng)

print 'Number of duplicated records:', len(dup_df)
print 'Number of unique samples:', len(wc_df)

WARNING
The database contains duplicated values for some station-date-parameter combinations.
Only the most recent values will be used, but you should check the repeated values are not errors.
The duplicated entries are returned in a separate dataframe.

Number of duplicated records: 2
Number of unique samples: 2621

In [11]:
# Convert duplicates to qgrid
dup_grid = qgrid.QgridWidget(df=dup_df, show_toolbar=False)
dup_grid

QgridWidget(grid_options={'highlightSelectedRow': True, 'fullWidthRows': True, 'rowHeight': 28, 'enableColumnReorder': False, 'filterable': True, 'sortable': True, 'enableTextSelectionOnCells': True, 'editable': True, 'explicitInitialization': True, 'minVisibleRows': 8, 'autoEdit': False, 'syncColumnCellResize': True, 'maxVisibleRows': 15, 'defaultColumnWidth': 150, 'forceFitColumns': True, 'highlightSelectedCell': False}, precision=5)

In [12]:
# Convert chem to qgrid
wc_grid = qgrid.QgridWidget(df=wc_df, show_toolbar=False)
wc_grid

QgridWidget(grid_options={'highlightSelectedRow': True, 'fullWidthRows': True, 'rowHeight': 28, 'enableColumnReorder': False, 'filterable': True, 'sortable': True, 'enableTextSelectionOnCells': True, 'editable': True, 'explicitInitialization': True, 'minVisibleRows': 8, 'autoEdit': False, 'syncColumnCellResize': True, 'maxVisibleRows': 15, 'defaultColumnWidth': 150, 'forceFitColumns': True, 'highlightSelectedCell': False}, precision=5)

In [28]:
import numpy as np

In [32]:
def interpolate_water_chemistry(wc_df, freq='D', agg_stat='mean', 
                                interp_type='linear', interp_limit=None):
    """ Interpolate water chemistry data to a regular frequency.
    
        Performs interpolation for each unique station-sample depth 
        combination in wc_df. Each sub-dataset is first resampled to the
        specified (regular) frequency by applying the function supplied as
        'agg_stat'. The resampled dataframe is then interpolated using
        'interp_type'.
        
        For example, if wc_df contains data for a single station, but from
        two different depths, the series for each depth will be treated
        separately. Specifying freq='M', agg_stat='sum', interp_type='cubic'
        and interp_limit=6 will do the following:
        
            1. Resample the data from each depth to a regular monthly series 
               by summing all values within each month
               
            2. Interpolate values for months with no data using cubic splines.
               Data gaps of greater than 6 months will be left unfilled.
               
        Args:
            wc_df:        Dataframe. Water chemistry returned by 
                          get_chemistry_values2()
            freq:         Str. {'D':daily, 
                                'M':monthly,
                                'Q-NOV':seasonal,
                                'A':annual}
            agg_stat:     Str. One of ('mean', 'median', 'sum')
            interp_type:  Str. One of ('nearest', 'linear', 'cubic', 'quadratic')
            interp_limit: Int. The maximum data gap (number of steps at the 
                          resampled frequency) to interpolate over
        
        Returns:
            Dataframe of interpolated values for each station-depth combination        
    """
    # Check user input
    assert freq in ('D', 'M', 'Q-NOV', 'A'), (
           "'freq' argument is not valid.")
    assert agg_stat in ('mean', 'median', 'sum'), (
           "'agg_stat' argument is not valid.")
    assert interp_type in ('nearest', 'linear', 'cubic', 'quadratic'), (
           "'interp_type' argument not valid.")
    assert (isinstance(interp_limit, int) or interp_limit == None), (
           "'interp_limit' must be an integer number of steps.")

    # Container for data
    df_list = []

    # Get depth groups
    depth_grps = wc_df.groupby(['depth1', 'depth2']).groups.keys()

    # treat each station and depth combo separately
    for dep1, dep2 in depth_grps:
        for stn_id in wc_df['station_id'].unique():
            # Get the stn data
            df = wc_df.query('(station_id == @stn_id) and '
                             '(depth1 == @dep1) and '
                             '(depth2 == @dep2)')

            # If not emoty df
            if len(df) > 0:
                # Remove cols we don't want to aggregate
                del df['station_id'], df['depth1'], df['depth2']
                
                # Set index
                df.set_index('sample_date', inplace=True)

                # Resample
                if agg_stat == 'mean':
                    df = df.resample(freq).mean().to_period()
                elif agg_stat == 'median':
                    df = df.resample(freq).median().to_period()
                elif agg_stat == 'sum':
                    df = df.resample(freq).sum().to_period()
                else:
                    raise ValueError("'agg_stat' must be one of "
                                     "('mean', 'median', or 'sum')")

                # Interpolate
                if len(df) > 1:
                    df.interpolate(method=interp_type, 
                                   limit=interp_limit, 
                                   inplace=True)

                # Add index cols again
                df['station_id'] = stn_id
                df['depth1'] = dep1
                df['depth2'] = dep2
                
                # Tidy
                df.reset_index(inplace=True)
                cols1 = ['station_id', 'sample_date', 'depth1', 'depth2']
                cols2 = [col for col in df.columns if col not in cols1]
                df = df[cols1 + cols2]

                # Add to output
                df_list.append(df)

    # Combine results
    df = pd.concat(df_list, axis=0)
    df.reset_index(inplace=True)

    return df

In [35]:
# Interpolate
df = interpolate_water_chemistry(wc_df, freq='A', agg_stat='median', 
                                 interp_type='cubic', interp_limit=None)

# Convert duplicates to qgrid
interp_grid = qgrid.QgridWidget(df=df, show_toolbar=False)
interp_grid

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''