In [1]:
import sys
import nivapy
import qgrid
import pandas as pd

# Quick hack to import from relative folder
sys.path.insert(0, '../ndbview')
from ndbview import ndb_queries

# Testing queries for NDBView

`ndb_queries.py` contains functions used by the Flask end points in `ndbview.py` to query the NIVADATABASE. The code is structured so that, as far as possible, the application-specific code is all in `ndbview.py`, and `ndb_queries.py` provides a basic database API that can also be used from Jupyter. This is useful for testing, and will eventually be useful for [NivaPy](https://github.com/NIVANorge/nivapy) too.

## 1. Connect to NIVADATABASE

In [2]:
# Connect to db
ora_eng = nivapy.da.connect()

Connection successful.

## 2. User defined parameters

In [3]:
# Period of interest
st_dt = '1900-01-01'
end_dt = '2018-12-31'

# Include LOD flags ('<' or '>') in output?
lod_flags = False

Now complete **either** step 3.1 to query by projects, or skip ahead to step 3.2 to query the stations directly. **Choose either step 3.1 *or* step 3.2, not both**.

## 3.1. Query by project

### 3.1.1. Select projects of interest

In [4]:
# List projects
prj_df = ndb_queries.get_all_projects(ora_eng)

# Convert to qgrid
prj_grid = qgrid.QgridWidget(df=prj_df, show_toolbar=False)

print 'Number of unique project IDs:', len(prj_df)
prj_grid

Number of unique project IDs: 1118

QgridWidget(grid_options={'highlightSelectedRow': True, 'fullWidthRows': True, 'rowHeight': 28, 'enableColumnReorder': False, 'filterable': True, 'sortable': True, 'enableTextSelectionOnCells': True, 'editable': True, 'explicitInitialization': True, 'minVisibleRows': 8, 'autoEdit': False, 'syncColumnCellResize': True, 'maxVisibleRows': 15, 'defaultColumnWidth': 150, 'forceFitColumns': True, 'highlightSelectedCell': False}, precision=5)

In [5]:
# Show selected projects
sel_prj = prj_grid.get_selected_df()
sel_prj

     project_id     project_name project_description
511        3322        RID - 109                None
510        3321    RID - Bielver                None
509        3320  RID- Hovedelver                None

### 3.1.2. Get stations for selected project(s)

In [6]:
# Get stations for selected project
stn_df = ndb_queries.get_project_stations(sel_prj, ora_eng)

# Convert to qgrid
stn_grid = qgrid.QgridWidget(df=stn_df, show_toolbar=False)

print 'Number of unique station IDs:', len(stn_df)
stn_grid

Number of unique station IDs: 163

QgridWidget(grid_options={'highlightSelectedRow': True, 'fullWidthRows': True, 'rowHeight': 28, 'enableColumnReorder': False, 'filterable': True, 'sortable': True, 'enableTextSelectionOnCells': True, 'editable': True, 'explicitInitialization': True, 'minVisibleRows': 8, 'autoEdit': False, 'syncColumnCellResize': True, 'maxVisibleRows': 15, 'defaultColumnWidth': 150, 'forceFitColumns': True, 'highlightSelectedCell': False}, precision=5)

### 3.1.3. Refine station selection

If desired, make a final sub-selection of the stations of interest (or select none to include all stations for these projects).

In [7]:
# Get selected stations
if len(stn_grid.get_selected_df()) == 0:
    sel_stn = stn_df
else:
    sel_stn = stn_grid.get_selected_df()

print 'Number of stations selected:', len(sel_stn)
sel_stn

Number of stations selected: 163

,station_id,station_code,station_name,station_type,longitude,latitude
0,40352,BUSEDRA,Drammenselva,Elv,10.008990,59.753990
1,40353,TELESKI,Skienselva,Elv,9.611000,59.199000
2,40354,VAGEOTR,Otra,Elv,7.953984,58.186992
3,40355,VESENUM,Numedalslågen,Elv,10.070000,59.086000
4,40356,Glomma5,Sarpefossen,Elv,11.134000,59.278000
5,40356,ØSTEGLO,Glomma ved Sarpsfoss,Elv,11.134000,59.278000
6,40357,STREORK,Orkla,Elv,9.772994,63.200996
7,40358,FINEALT,Altaelva,Elv,23.286977,69.900992
8,40359,ROGESUL,Suldalslågen,Elv,6.259983,59.481995
9,40360,NOREVEF,Vefsna,Elv,13.238980,65.748998
10,40361,ROGEORR,Orreelva,Elv,5.528989,58.730993
11,40362,NTRENAM,Namsen,Elv,11.817337,64.442376
12,40363,ROGELYS,Lyseelva,Elv,6.657987,59.056993
13,40364,SFJEJØL,Jølstra,Elv,5.857987,61.451996
14,40365,STRENID,Nidelva(Tr.heim),Elv,10.406994,63.432997
15,40366,VAGESIR,Sira,Elv,6.656993,58.414002
16,40367,STRESTJ,Stjørdalselva,Elv,10.992981,63.448996
17,40368,NTRESNÅ,Snåsavassdraget,Elv,11.506991,64.018997
18,40369,VAGEMAN,Mandalselva,Elv,7.545997,58.142995
19,40370,VAGELYN,Lyngdalselva,Elv,7.087992,58.162995
20,40371,AAGENID,Nidelva(Rykene),Elv,8.641999,58.400992
21,40372,FINEPAS,Pasvikelva,Elv,30.115996,69.500996
22,40373,FINETAN,Tanaelva,Elv,28.173988,70.229993
23,40374,HOREVOS,Vosso(Bolstadelvi),Elv,6.000000,60.647992
24,40375,MROEDRI,Driva,Elv,8.570990,62.668999
25,40376,MROESUR,Surna,Elv,8.725986,62.979996
26,40377,NOREBEI,Beiarelva,Elv,14.749991,66.990994
27,40378,NORERAN,Ranaelva,Elv,14.176984,66.322993
28,40379,NORERØS,Røssåga,Elv,13.806986,66.108993
29,40380,NTREVER,Verdalselva,Elv,11.477993,63.791995
...,...,...,...,...,...,...
133,40484,SFJEOLD,Oldenelva,Elv,6.806991,61.830998
134,40485,SFJEOSE,Oselva,Elv,5.410986,61.548994
135,40486,SFJESOG,Sogndalselva,Elv,7.097992,61.229999
136,40487,SFJESTR,Stryneelva,Elv,6.777760,61.913370
137,40488,SFJEÅEL,Ååelva (Gjengedalselva),Elv,5.920000,61.732000
138,40489,SFJEÅRD,Årdalselvi,Elv,7.715985,61.241991
139,40490,SFJEÅRØ,Årøyelva,Elv,7.160986,61.271000
140,40491,STREBØR,Børselva,Elv,10.069995,63.326995
141,40492,STREHOM,Homla,Elv,10.810994,63.413997
142,40493,STREVIG,Vigda,Elv,10.184995,63.311993
143,40494,TROEKÅF,Kåfjordelva,Elv,20.815979,69.491993
144,40495,TROELAK,Lakselva(Rossfjordelva),Elv,18.196994,69.266994
145,40496,TROENOR,Nordkjoselva,Elv,19.557990,69.217998
146,40497,TROEREI,Reisaelva,Elv,21.017979,69.764991
147,40498,TROESAL,Salangselva,Elv,17.863997,68.864994
148,40499,TROESIG,Signaldalselva,Elv,19.898977,69.265994
149,40500,TROESKI,Skibotnelva,Elv,20.274979,69.363996
150,40501,TROESPA,Spanselva,Elv,17.813992,68.747995
151,40502,VAGEGJE,Gjerstadelva,Elv,9.087989,58.768993
152,40503,VAGESØG,Søgneelva-Songdalselva,Elv,7.833997,58.110992
153,40504,VESEAUL,Aulielva,Elv,10.369992,59.278992
154,40505,VESEFAR,Farriselva-Siljanvassdraget,Elv,10.012996,59.055998
155,40506,ØSTEMOS,Mosselva,Elv,10.669986,59.438998
156,40507,HOREEID,Eidfjordelva,Elv,7.073999,60.466994
157,62167,OSLEALN,Alna,Elv,10.791359,59.905091
158,62168,BUSEDR2,Drammenselva sensor,Elv,9.994424,59.755686
159,62169,ØSTEGL2,Baterød vannverk,Elv,11.134774,59.307346
160,66223,BUSEDRA-S,Drammenselv labprøve sensorpunkt,Elv,9.994424,59.755686
161,66224,ØSTEGLO-S,Glomma labprøve sensorpunkt,Elv,11.134774,59.307346
162,66400,ROGESAUNOR,Nordelva i Sauda,Elv,6.357781,59.649962

## 3.2. Select stations directly

This section is only relevant if you skipped over section 3.1.

In [ ]:
# List stations
stn_df = ndb_queries.get_all_stations(ora_eng)

# Convert to qgrid
stn_grid = qgrid.QgridWidget(df=stn_df, show_toolbar=False)
stn_grid

In [ ]:
# Show selected stations
sel_stn = stn_grid.get_selected_df()
sel_stn

## 4. Get parameters for selected stations and time period

In [8]:
# Get parameters
par_df = ndb_queries.get_station_parameters2(sel_stn, st_dt, end_dt, ora_eng)

# Convert to qgrid
par_grid = qgrid.QgridWidget(df=par_df, show_toolbar=False)

print '%s parameters available.' % len(par_df)
par_grid

68 parameters available.

QgridWidget(grid_options={'highlightSelectedRow': True, 'fullWidthRows': True, 'rowHeight': 28, 'enableColumnReorder': False, 'filterable': True, 'sortable': True, 'enableTextSelectionOnCells': True, 'editable': True, 'explicitInitialization': True, 'minVisibleRows': 8, 'autoEdit': False, 'syncColumnCellResize': True, 'maxVisibleRows': 15, 'defaultColumnWidth': 150, 'forceFitColumns': True, 'highlightSelectedCell': False}, precision=5)

In [9]:
# Show selected parameters
sel_par = par_grid.get_selected_df()
sel_par

    parameter_id parameter_name    unit
4              1             Ca    mg/L
5            221             Cd    µg/l
8           1552             Co    µg/l
9            629             Cr    µg/l
10           610             Cu    µg/L
11           492             Cu    mg/l
13           570            DOC    mg/l
14          1539            DOC  mg/L C
19           251             Hg    ng/l
27             8          NH4-N    µg/l
31             7          NO3-N    µg/l
33           612             Pb    µg/L
34           548             Pb    mg/l
43            13             pH    None
46            12          PO4-P    µg/l
47          1537             Qs    m3/s
55           257            TOC    mg/l
56             9           TOTN    µg/l
58            11           TOTP    µg/l

## 5. Get water chemistry

In [10]:
# Get water chemsitry
wc_df, dup_df = ndb_queries.get_chemistry_values2(sel_stn, sel_par, 
                                                  st_dt, end_dt, 
                                                  lod_flags, ora_eng)

print 'Number of duplicated records:', len(dup_df)
print 'Number of unique samples:', len(wc_df)

WARNING
The database contains unexpected duplicates values for some station-date-parameter combinations.
Only the most recent values will be used, but you should check the repeated values are not errors.
The duplicated entries are returned in a separate dataframe.

Number of duplicated records: 24
Number of unique samples: 137528

In [11]:
# Convert duplicates to qgrid
dup_grid = qgrid.QgridWidget(df=dup_df, show_toolbar=False)
dup_grid

QgridWidget(grid_options={'highlightSelectedRow': True, 'fullWidthRows': True, 'rowHeight': 28, 'enableColumnReorder': False, 'filterable': True, 'sortable': True, 'enableTextSelectionOnCells': True, 'editable': True, 'explicitInitialization': True, 'minVisibleRows': 8, 'autoEdit': False, 'syncColumnCellResize': True, 'maxVisibleRows': 15, 'defaultColumnWidth': 150, 'forceFitColumns': True, 'highlightSelectedCell': False}, precision=5)

In [12]:
# Convert chem to qgrid
wc_grid = qgrid.QgridWidget(df=wc_df, show_toolbar=False)
wc_grid

QgridWidget(grid_options={'highlightSelectedRow': True, 'fullWidthRows': True, 'rowHeight': 28, 'enableColumnReorder': False, 'filterable': True, 'sortable': True, 'enableTextSelectionOnCells': True, 'editable': True, 'explicitInitialization': True, 'minVisibleRows': 8, 'autoEdit': False, 'syncColumnCellResize': True, 'maxVisibleRows': 15, 'defaultColumnWidth': 150, 'forceFitColumns': True, 'highlightSelectedCell': False}, precision=5)

In [ ]:
import numpy as np

In [ ]:
def interpolate_water_chemistry(wc_df, freq='D', agg_stat='mean', 
                                interp_type='linear', interp_limit=None):
    """ Interpolate water chemistry data to a regular frequency.
    
        Performs interpolation for each unique station-sample depth 
        combination in wc_df. Each sub-dataset is first resampled to the
        specified (regular) frequency by applying the function supplied as
        'agg_stat'. The resampled dataframe is then interpolated using
        'interp_type'.
        
        For example, if wc_df contains data for a single station, but from
        two different depths, the series for each depth will be treated
        separately. Specifying freq='M', agg_stat='sum', interp_type='cubic'
        and interp_limit=6 will do the following:
        
            1. Resample the data from each depth to a regular monthly series 
               by summing all values within each month
               
            2. Interpolate values for months with no data using cubic splines.
               Data gaps of greater than 6 months will be left unfilled.
               
        Args:
            wc_df:        Dataframe. Water chemistry returned by 
                          get_chemistry_values2()
            freq:         Str. {'D':daily, 
                                'M':monthly,
                                'Q-NOV':seasonal,
                                'A':annual}
            agg_stat:     Str. One of ('mean', 'median', 'sum')
            interp_type:  Str. One of ('nearest', 'linear', 'cubic', 'quadratic')
            interp_limit: Int. The maximum data gap (number of steps at the 
                          resampled frequency) to interpolate over
        
        Returns:
            Dataframe of interpolated values for each station-depth combination        
    """
    # Check user input
    assert freq in ('D', 'M', 'Q-NOV', 'A'), (
           "'freq' argument is not valid.")
    assert agg_stat in ('mean', 'median', 'sum'), (
           "'agg_stat' argument is not valid.")
    assert interp_type in ('nearest', 'linear', 'cubic', 'quadratic'), (
           "'interp_type' argument not valid.")
    assert (isinstance(interp_limit, int) or interp_limit == None), (
           "'interp_limit' must be an integer number of steps.")

    # Container for data
    df_list = []

    # Get depth groups
    depth_grps = wc_df.groupby(['depth1', 'depth2']).groups.keys()

    # treat each station and depth combo separately
    for dep1, dep2 in depth_grps:
        for stn_id in wc_df['station_id'].unique():
            # Get the stn data
            df = wc_df.query('(station_id == @stn_id) and '
                             '(depth1 == @dep1) and '
                             '(depth2 == @dep2)')

            # If not emoty df
            if len(df) > 0:
                # Remove cols we don't want to aggregate
                del df['station_id'], df['depth1'], df['depth2']
                
                # Set index
                df.set_index('sample_date', inplace=True)

                # Resample
                if agg_stat == 'mean':
                    df = df.resample(freq).mean().to_period()
                elif agg_stat == 'median':
                    df = df.resample(freq).median().to_period()
                elif agg_stat == 'sum':
                    df = df.resample(freq).sum().to_period()
                else:
                    raise ValueError("'agg_stat' must be one of "
                                     "('mean', 'median', or 'sum')")

                # Interpolate
                if len(df) > 1:
                    df.interpolate(method=interp_type, 
                                   limit=interp_limit, 
                                   inplace=True)

                # Add index cols again
                df['station_id'] = stn_id
                df['depth1'] = dep1
                df['depth2'] = dep2
                
                # Tidy
                df.reset_index(inplace=True)
                cols1 = ['station_id', 'sample_date', 'depth1', 'depth2']
                cols2 = [col for col in df.columns if col not in cols1]
                df = df[cols1 + cols2]

                # Add to output
                df_list.append(df)

    # Combine results
    df = pd.concat(df_list, axis=0)
    df.reset_index(inplace=True)

    return df

In [ ]:
# Interpolate
df = interpolate_water_chemistry(wc_df, freq='A', agg_stat='median', 
                                 interp_type='cubic', interp_limit=None)

# Convert duplicates to qgrid
interp_grid = qgrid.QgridWidget(df=df, show_toolbar=False)
interp_grid